<app-footer></app-footer>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Sidebar con Bootstrap</title>
    <style>
        /* Establece la altura de la barra lateral al 100% de la ventana */
        .sidebar {
            height: 100vh;
            background-color: #333;
        }

        /* Estilo personalizado para los botones */
        .btn-sidebar {
            width: 100%;
            padding: 10px;
            text-align: left;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral izquierda -->
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                      <li class="nav-item py-3">
                        <button class="btn btn-primary btn-sidebar" routerLink="tablaGeneral">Tabla general</button>
                      </li>
                      <li class="nav-item py-3">
                          <button class="btn btn-primary btn-sidebar" routerLink="detalleGrupo">Detalle grupo activo</button>
                      </li>
                    </ul>
                </div>
            </nav>

            <!-- Contenido principal -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
