<div class="container mt-4">
  <div class="row">
    <!-- Primera fila dividida en dos columnas -->
    <div class="col-md-6">
      <h2>Ver reporte general</h2>
      <p>Con la capacidad de actualizar, ver activos, con sus características y valores actuales.</p>
    </div>
    <div class="col-md-6">
      <!-- Tabla pequeña de 4 columnas -->
      <table class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Age</th>
          <th>Nickname</th>
          <th>Employee</th>
        </tr>
        </thead>
        <tbody>
        <!-- Contenido de la tabla -->
        </tbody>
      </table>
      <button class="btn btn-primary">Ir a reporte general</button>
    </div>
  </div>

  <hr> <!-- Línea horizontal que divide las filas -->

  <div class="row">
    <!-- Segunda fila dividida en dos columnas -->
    <div class="col-md-6">
      <!-- Tabla de 1 columna -->
      <table class="table">
        <thead>
        <tr>
          <th>Item</th>
        </tr>
        </thead>
        <tbody>
        <!-- Contenido de la tabla -->
        </tbody>
      </table>
      <button class="btn btn-primary">Registrar nuevo activo</button>
    </div>
    <div class="col-md-6">
      <label>
        Es posible registrar nuevos activos, agregar características de los activos, agregar una nueva adquisición.
      </label>
    </div>
  </div>
</div>

