<p>Actualización Lista de Activos</p>
<div class="container">
    <mat-card-title> Nuevos Datos de Estado</mat-card-title>
    
    <div class="example-button-container">
        <h5>Fotos de constancia</h5>
        <button mat-fab color="accent" aria-label="">
            
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="row">
        <div class="col">
            <h5>Custodío: </h5>
        </div>
        <div class="col">
            <mat-form-field>
                <mat-label>Custodio</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
        </div>  
        <div class="col">
            <mat-form-field>
                <mat-label>Departamento</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
        </div>   
        <div class="col">
            <mat-form-field>
                <mat-label>Estado de Uso</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
        </div>       
    </div>

    <section>
        <mat-card>
           
            <div class="row row-cols-2">
                <div class="col">
                    <mat-card-title>Seleccionar dirección origen</mat-card-title>
                    <div class="row row-cols-2">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Pais</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Departamento ()</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Departamento</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Bloque</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Municipio</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Aula</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <mat-card-title>Seleccionar Direccion destino</mat-card-title>
                    <div class="row row-cols-2">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Pais</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Departamento ()</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Departamento</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Bloque</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Municipio</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Aula</mat-label>
                                <mat-select disableRipple>
                                  <mat-option value="1">Option 1</mat-option>
                                  <mat-option value="2">Option 2</mat-option>
                                  <mat-option value="3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        
                    </div>
                </div>
                <div class="col">
                    <div class="">
                        <form >
                          <input type="text" placeholder="Search.." name="search">
                          <button type="submit">
                            <mat-icon>search</mat-icon>
                          </button>
                        </form>
                      </div>
                      <button>
                        <mat-icon>add</mat-icon>
                      </button>
                </div>

            </div>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
              </ng-container>
            
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </mat-card>
        
    </section>
        


</div>
