<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Registro de Custodio Nuevo</h2>
        <form [formGroup]="custodioForm" (ngSubmit)="registrarCustodio()">
          <div class="mb-3 form-group">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" formControlName="custodio_nombre">
          </div>
          <div class="mb-3 form-group">
            <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno" formControlName="custodio_apellido_paterno">
          </div>
          <div class="mb-3 form-group">
            <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno" formControlName="custodio_apellido_materno">
          </div>
          <div class="mb-3 form-group">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" formControlName="custodio_telefono" required>
          </div>
          <div class="mb-3 form-group">
            <label for="correo" class="form-label">Correo</label>
            <input type="text" class="form-control" id="correo" name="correo" formControlName="custodio_correo" required>
          </div>
          <div class="mb-3 form-group">
            <label for="estado" class="form-label">Estado</label>
            <select class="form-select" id="estado" name="estado" formControlName="custodio_estado" required>
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
            </select>
          </div>
          <div class="alert" *ngIf="mostrarAlerta">
            Se registro correctamente el item
          </div>
          <div class="alertE" *ngIf="mostrarAlertaError">
            No se pudo registrar el item
          </div>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </div>
      <div class="col-md-6">
        <h2>Datos del Custodio</h2>
        <div class="form-group">
            <label for="buscar">Buscar</label>
            <div class="input-group">
              <input type="text" class="form-control" id="buscar" placeholder="Buscar">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Telefono</th>
              <th>Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of custodioList">
              <td>{{item.custodio_nombre}}</td>
              <td>{{item.custodio_apellido_paterno}}</td>
              <td>{{item.custodio_apellido_materno}}</td>
              <td>{{item.custodio_telefono}}</td>
              <td>{{item.custodio_correo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
