<div class="container mt-4">
  <h2>Actualización de Datos Software</h2>
  <div class="row">
    <div class="col-md-4">
      <label for="nombreEmpresa">Nombre de Empresa</label>
      <input type="text" class="form-control" id="nombreEmpresa" placeholder="Nombre de Empresa">
      <br>
      <label for="logo">Logo</label>
      <input type="file" id="logo" class="form-control-file">
      <button class="btn btn-primary mt-2">Subir imagen</button>
    </div>
    <div class="col-md-4">
      <label for="telefono">Teléfono</label>
      <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
      <br>
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="col-md-4">
      <label for="descripcion">Descripción</label>
      <textarea class="form-control" id="descripcion" rows="6" placeholder="Descripción"></textarea>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <button class="btn btn-primary">Actualizar Datos</button>
    </div>
  </div>
</div>
