<div class="container">
  <h1>Ver detalle grupo</h1>
  <!--  -->
  <div class="container">
      <h1>Buscar Activos</h1>
      <input type="text" class="form-control" [(ngModel)]="filtroBusqueda" placeholder="Buscar grupos" (input)="filtrarActivos()">
    
      <ul class="list-group mt-3" *ngIf="gruposFiltrados.length > 0">
        <li class="list-group-item" *ngFor="let grupo of gruposFiltrados">
          {{ grupo.grupo_nombre }}
          <button class="btn btn-primary" (click)="seleccionarActivo(grupo)">Seleccionar</button>
        </li>
      </ul>
  </div>
    
  <!--  -->
    
  <div class="container text-center">
      <div class="row">
          <div class="col-4">
              <mat-card>
                  <div class="form-container">
                      <mat-card-header>
                          <mat-card-title>Datos de Activo</mat-card-title>
                              <!-- <mat-card-content>
                                  <p>17-05-2023</p>
                              </mat-card-content>
                              <mat-card-subtitle>(Ultima actualización)</mat-card-subtitle> -->
                      </mat-card-header>
                  </div>
                  <div class="container">
                      <mat-card-title>ID:</mat-card-title>
                      <mat-card-content>
                          <p>{{ grupoSeleccionado.id_grupo }}</p>
                      </mat-card-content>
                  
                      <mat-card-title>Nombre grupo:</mat-card-title>
                      <mat-card-content>
                          <p>{{ grupoSeleccionado.grupo_nombre }}</p>
                      </mat-card-content>
      
                      <mat-card-title>Cantidad de items:</mat-card-title>
                      <mat-card-content><p>{{ numeroActivos }}</p></mat-card-content>
                                            
                      <div class="conte-boton">
                        <mat-card-title>
                            Codigo QR :  
                        </mat-card-title>
                        <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                        <a [href]="qrCodeDownloadLink" download="qrcode">Descargar QR</a>
                        </div>
                                   
                  </div>
              </mat-card>
          </div>
          <div class="col-8">
              <mat-card>
                  <!-- <div class="row">
                      <div class="col">
                          <div class="form-container">
                              <mat-card-actions>
                                  <mat-slide-toggle>Enviar a mantenimiento!</mat-slide-toggle>
                              </mat-card-actions>
                          </div>
                      </div>
                      <div class="col">
                          <mat-card-actions>
                                  
                              <button mat-raised-button color="primary"
                                  matBadge="!" matBadgePosition="before" matBadgeColor="warn">
                                Baja
                              </button>
                          </mat-card-actions>
                      </div>
                  </div> -->
                  <mat-divider></mat-divider>
                  <!-- la direccion-->
                  <div class="py-5">
                      <h3>Activos del grupo</h3>
                      <mat-table [dataSource]="activosGrupo" class="mat-elevation-z8">
                          <!-- Fecha Column -->
                          <ng-container matColumnDef="id activo">
                            <mat-header-cell *matHeaderCellDef> Id activo </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.id_activo}} </mat-cell>
                          </ng-container>
                          <!-- Fecha Column -->
                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef> Nombre activo </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.activo_nombre}} </mat-cell>
                          </ng-container>
                        
                          <!-- Custodio Column -->
                          <ng-container matColumnDef="custodio">
                            <mat-header-cell *matHeaderCellDef> Custodio </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index"> {{custodio2aux[i]}} </mat-cell>
                          </ng-container>
                        
                          <!-- Direccion Column -->
                          <ng-container matColumnDef="direccion">
                            <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
                            <mat-cell *matCellDef="let element; let i = index"> {{ pais2aux[i]+', '+departamento2aux[i]+', '+provincia2aux[i]+', '+sucursal2aux[i]+', '+bloque2aux[i]+', '+aula2aux }} </mat-cell>
                          </ng-container>
                        
                          <!-- Valor Column -->
                          <ng-container matColumnDef="valor">
                            <mat-header-cell *matHeaderCellDef> Valor Total </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.activo_valor_actual}} </mat-cell>
                          </ng-container>

                          <!-- Valor Column -->
                          <ng-container matColumnDef="estado de uso">
                            <mat-header-cell *matHeaderCellDef> Estado de uso </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.activo_estado_uso}} </mat-cell>
                          </ng-container>
                        
                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                        
                  </div>
              </mat-card>
          </div>
      </div>
  </div>
</div>