<div class="container mt-4">
  <h2>Actualizaciones y Modificaciones</h2>
  <label for="filtro">Filtrar por:</label>
  <select id="filtro" class="form-select">
    <option value="opcion1">Actualización</option>
    <option value="opcion2">Registros</option>
    <option value="opcion3">Dar de baja</option>
  </select>
  <input type="text" class="form-control" placeholder="Buscar">
  <button class="btn btn-primary" aria-label="Buscar">
    <i class="bi bi-search"></i> Buscar
  </button>

  <table class="table mt-4">
    <thead>
    <tr>
      <th>id</th>
      <th>Nombre del Usuario</th>
      <th>Acción</th>
      <th>Id Activo</th>
      <th>Fecha</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of registrosActi">
        <td>{{item.id_actividadesUsers}}</td>
        <td>{{item.usuario_nombre}}</td>
        <td>{{item.accion}}</td>
        <td>{{item.activo_id_activo}}</td>
        <td>{{item.accion_fecha}}</td>
      </tr>
    </tbody>
  </table>
</div>
