<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <label for="tipoMoneda">Tipo de Moneda</label>
      <select id="tipoMoneda" class="form-select">
        <option value="dolar">Dólar</option>
        <option value="euro">Euro</option>
        <option value="yen">Yen</option>
        <option value="pesoBoliviano">Peso Boliviano</option>
      </select>
      <br>
      <label for="valorUFV">Valor UFV:</label>
      <label id="valorUFVBackend">123.45</label>
      <br>
      <label for="fechaActualActivos">Fecha Actual Activos:</label>
      <label id="fechaActualBackend">2023-09-26</label>
    </div>
    <div class="col-md-3">
        <!--  -->
        <div class="container">
          <h5>Buscar Activos</h5>
          <input type="text" class="form-control" [(ngModel)]="filtroBusqueda" placeholder="Buscar actividad o users" (input)="filtrarActivos()">
        </div>        
        <!--  -->
    </div>
    <div class="">
      <table class="table">
        <thead>
        <tr>
          <th>Nombre grupo</th>
          <th>ID Activo individual</th>
          <th>Nombre de Activo individual</th>
          <th>Marca</th>          
          <th>Valor Actual</th>
          <th>Categoría</th>
          <th>Custodio</th>
          <th>Dirección de Activo</th>
        </tr>
        </thead>
        <tbody>
        <!-- Agrega filas con datos dinámicos desde tu backend -->
        <tr *ngFor="let element of activosFiltrados; let i = index">
          <td>{{grupoAux1[i]}}</td>
          <td>{{element.id_activo}}</td>
          <td>{{element.activo_nombre}}</td>
          <td>{{marcaAux1[i]}}</td>          
          <td>{{element.activo_valor_actual}}</td>
          <td>{{ categoriaAux1[i] }}</td>
          <td>{{ custodioAux1[i] }}</td>
          <td>{{ paisesAux1[1] + ", " + departamentosAux1[1] + ", " + provinciasAux1[i] + ", " + sucursalesAux1[i] + ", " + bloquesAux1[i] + ", " + aulasAux1[i]}}</td>
          <!-- <td><a href="#">Datos Registro Inicial</a></td> -->
        </tr>
        <!-- Repite esta estructura para cada fila de datos -->
        </tbody>
      </table>
      <button (click)="generarInforme()" class="btn btn-primary float-end">
        Reporte PDF
      </button>
    </div>
  </div>
</div>

