<div class="conteiner">
  <h1>Actualizaciones y modificaciones</h1>
  <div>
    <form [formGroup]="usersForm" (ngSubmit)="registrarUser()">
      <div class="col-md-6">
        <h2>Registro de Usuario Nuevo</h2>
        <h4>Datos de Adquisición</h4>
        <div class="form-group">
          <label for="">Nombre del usuario</label>
          <input type="text" class="form-control" id="usuario_nombre" formControlName="usuario_nombre" placeholder="Nombre del ususario">
        </div>
        <div class="form-group">
          <label for="">Password del usuario</label>
          <input type="password" class="form-control" id="usuario_pass" formControlName="usuario_pass" placeholder="Password del usuario">
        </div>
        <div class="form-group">
          <label for="">Correo del ususario</label>
          <input type="text" class="form-control" id="usuario_correo" formControlName="usuario_correo" placeholder="Correo del ususario">
        </div>
        <div class="form-group">
          <label for="">Telefono del Usuario</label>
          <input type="text" class="form-control" id="usuario_telefono" formControlName="usuario_telefono" placeholder="Telefono del Usuario">
        </div>
        <div class="form-group">
          <label for="">Rol del usuario</label>
          <input type="text" class="form-control" id="usuario_rol" formControlName="usuario_rol" placeholder="Rol del usuario">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <div class="alert" *ngIf="mostrarAlerta">
          Se registro correctamente el item
        </div>
        <div class="alertE" *ngIf="mostrarAlertaError">
          No se pudo registrar el item
        </div>
      </div>
      </form>
  </div>
      <h2>Lista de usuarios</h2>
  <div>
        <!--  -->
        <div class="container py-3">
          <h4>Buscar Usuarios</h4>
          <input type="text" class="form-control" [(ngModel)]="filtroBusqueda" placeholder="Buscar users" (input)="filtrarUsers()">
        </div>        
        <!--  -->

        <table mat-table [dataSource]="usersFiltrados" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Nombre del Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario_nombre}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id_usuario}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario_rol}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario_correo}} </td>
          </ng-container>

          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef> Numero </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario_telefono}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

  </div>

  






