
<div class="container">
    <h1>Registro de Localización Nueva</h1>
    <h4>Seleccione qué tipo de locación agregar</h4>
    <form>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="pais">País</label>
          <select class="form-select" id="pais">
            <!-- Opciones para el campo País -->
            <option>País 1</option>
            <option>País 2</option>
            <!-- Agrega más opciones si es necesario -->
          </select>
        </div>
        <div class="col-md-6">
            <label for="departamento-area">Departamento (Área)</label>
            <select class="form-select" id="departamento-area">
              <!-- Opciones para el campo Departamento (Área) -->
              <option>Área 1</option>
              <option>Área 2</option>
              <!-- Agrega más opciones si es necesario -->
            </select>
          </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
            <label for="departamento">Departamento</label>
            <select class="form-select" id="departamento">
              <!-- Opciones para el campo Departamento -->
              <option>Departamento 1</option>
              <option>Departamento 2</option>
              <!-- Agrega más opciones si es necesario -->
            </select>
        </div>
        <div class="col-md-6">
            <label for="bloque">Bloque</label>
            <select class="form-select" id="bloque">
              <!-- Opciones para el campo Bloque -->
              <option>Bloque 1</option>
              <option>Bloque 2</option>
              <!-- Agrega más opciones si es necesario -->
            </select>
          </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
            <label for="municipio">Municipio</label>
          <select class="form-select" id="municipio">
            <!-- Opciones para el campo Municipio -->
            <option>Municipio 1</option>
            <option>Municipio 2</option>
            <!-- Agrega más opciones si es necesario -->
          </select>
          
        </div>
        <div class="col-md-6">
          <label for="aula">Aula</label>
          <select class="form-select" id="aula">
            <!-- Opciones para el campo Aula -->
            <option>Aula 1</option>
            <option>Aula 2</option>
            <!-- Agrega más opciones si es necesario -->
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="mb-1">
            <label for="detalle" class="form-label">Descripcion</label>
            <input type="text" id="detalle" name="detalle" class="form-control">
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary">Registrar</button>
        </div>
      </div>
    </form>
  </div>
  